.error-container {
	margin:20px 0;
	img {
		max-width:100%;
		display: block;
		clear:both;
		margin:0 auto;
	}
}


img.ship {
	margin:40px auto 50px auto;
	z-index:4;
	-webkit-animation: infiniteSpin 5s linear infinite; /* Safari 4+ */
	-moz-animation:    infiniteSpin 5s linear infinite; /* Fx 5+ */
	-o-animation:      infiniteSpin 5s linear infinite; /* Opera 12+ */
	animation:         infiniteSpin 5s linear infinite; /* IE 10+ */
}





.animate-area {
	position: absolute;
	top:0px;
	left:0px;
	width: 100%; 
	min-height:100%;
	background-position: 0px 0px;
	background-repeat: repeat;
}
.stars-large  {
	z-index:3;
	background-image: url(../../src/images/stars_large.png);
}
.stars-medium {
	z-index:2;
	background-image: url(../../src/images/stars_medium.png);
}
.stars-small  {
	z-index:1;
	background-image: url(../../src/images/stars_small.png);
}
.move-left-fast  {
	-webkit-animation: animatedBackground 5s linear infinite; /* Safari 4+ */
	-moz-animation:    animatedBackground 5s linear infinite; /* Fx 5+ */
	-o-animation:      animatedBackground 5s linear infinite; /* Opera 12+ */
	animation:         animatedBackground 5s linear infinite; /* IE 10+ */
}
.move-left-medium  {
	-webkit-animation: animatedBackground 7s linear infinite; /* Safari 4+ */
	-moz-animation:    animatedBackground 7s linear infinite; /* Fx 5+ */
	-o-animation:      animatedBackground 7s linear infinite; /* Opera 12+ */
	animation:         animatedBackground 7s linear infinite; /* IE 10+ */
}
.move-left-slow  {
	-webkit-animation: animatedBackground 10s linear infinite; /* Safari 4+ */
	-moz-animation:    animatedBackground 10s linear infinite; /* Fx 5+ */
	-o-animation:      animatedBackground 10s linear infinite; /* Opera 12+ */
	animation:         animatedBackground 10s linear infinite; /* IE 10+ */
}

@-webkit-keyframes animatedBackground {
	0%   { background-position: 0 0; }
	100% { background-position: -500px 0; }
}
@-moz-keyframes animatedBackground {
	0%   { background-position: 0 0; }
	100% { background-position: -500px 0; }
}
@-o-keyframes animatedBackground {
	0%   { background-position: 0 0; }
	100% { background-position: -500px 0; }
}
@keyframes animatedBackground {
	0%   { background-position: 0 0; }
	100% { background-position: -500px 0; }
}



@-webkit-keyframes infiniteSpin {
	from{
		-webkit-transform: rotate(0deg);
	}
	to{
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes infiniteSpin {
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-moz-transform: rotate(360deg);
	}
}
@-o-keyframes infiniteSpin {
	from{
		-o-transform: rotate(0deg);
	}
	to{
		-o-transform: rotate(360deg);
	}
}
keyframes infiniteSpin {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}



@media (max-width:500px ) {
	.error-container {
		margin:10px 0;
	}
	img.ship {
		margin:20px auto;
		max-width: 100px;
	}
}
